body {
	background: rgb(255,246,229)
}
 header {
      text-align: center;
      background: url("https://lh3.google.com/u/0/d/0B0lxR0Cv4OZYQ0FranhGWkFINlU=w983-h804-iv1");
      background-size: cover;
      color: white;
    }
	li {
		display: inline;
		padding: 0px 10px 0px 10px;
	}
	a {
      color: white;
    }
    h1 {
      font-size: 50px;
    }
    img {
      margin: 20px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 30px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
	    .dash {
	    color: black;
	    }
Contact GitHub API Training Shop Blog About
